<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<%if user_signed_in? %>
<%= link_to 'sign out', destroy_user_session_path, method: :delete%>
<%= link_to "payment" , new_payment_path%>
<%else%>
  <%= link_to 'sign in', new_user_session_path%>
  <%= link_to 'sign up', new_user_registration_path%>
<%end%>